<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>

      <form action="/users/login" method="POST" id="login-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control mb-2"
            placeholder="Enter Password"
          />
        </div>
        <input
          type="checkbox"
          onclick="showPassword()"
          style="padding: 10px"
        />Show Password
        <p class="mt-4 form-group">
          <a href="/users/forgetpass" style="text-decoration: none"
            >Forgot Password?</a
          >
        </p>
        <button
          type="submit"
          class="btn btn-primary btn-block g-recaptcha form-control mb-5"
          data-sitekey="<%= recapKey %>"
          data-callback="recapSubmit"
        >
          Login
        </button>
        <div class="form-group">
          <span class="lead" style="float: left">
            Login or Register with
            <a href="/users/google"
              ><img
                src="../public/images/google.svg"
                alt="google"
                style="width: 24px; height: 24px"
            /></a>
          </span>
          <span class="lead" style="float: right">
            No Account?
            <a href="/users/register" style="text-decoration: none"
              >Register Here</a
            >
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  function recapSubmit(token) {
    document.getElementById("login-form").submit();
  }
  function showPassword() {
    let pass = document.getElementById("password");
    if (pass.type === "password") {
      pass.type = "text";
    } else {
      pass.type = "password";
    }
  }
</script>
