<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br />
<br />
<a href="/reset-password" class="btn btn-primary">Reset Password</a>
<br />
<br />
<br />
<a href="/users/logout" class="btn btn-secondary">Logout</a>
