<div style="padding: 10px; margin: 0 auto; background-color: rgba(23,230,200,0.5);">
  <div style="padding: 10px; margin: 0 auto;">
    <h1> This is Reset Link</h1>
    <h3 style="color:azure;">
      <a href="<%= link %>" target="_blank" style="text-decoration: none;">Press here to reset password</a>
    </h3>
  </div>
</div>