<div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Hello <strong> User!!</strong></h4>
    <p class="card-text">this mail is sent to test the nodejs server .<br/> If You got This got Panic!!<br/> It Just A mail from nodejs server </p>
  </div>
</div> 